<nav id="top-menu" class="row g-0">
    <div class="col-4 offset-4" id="titre-blog">
        Blog test
    </div>
    <div class="col-4">
        <div id="items-mt">
            <div class="itm-mt"><a><img src="images/design/icons8-search-100.png" alt="loupe"></a></div><div class="itm-mt"><a><img src="images/design/icons8-menu-vertical-96.png"></a>
            </div>
        </div>
    </div>
</nav>